@model IEnumerable<WEB.BE.Models.Order>

@{
    ViewBag.Title = "Danh sách đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-primary bg-danger text-white">DANH SÁCH ĐƠN HÀNG</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Mã đơn</th>
            <th>Khách hàng</th>
            <th>Ngày đặt</th>
            <th>Tổng tiền</th>
            <th>Thanh toán</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderID</td>
                <td>@item.Customer.CustomerName</td>
                <td>@item.OrderDate.ToString("dd/MM/yyyy")</td>
                <td>@item.TotalAmount.ToString("N0") đ</td>
                <td>@item.PaymentStatus</td>
                <td>
                    @Html.ActionLink("Xem chi tiết", "Details", new { id = item.OrderID }, new { @class = "btn btn-info btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
